<h1 class="pt-2 mb-4"> <%= @place["name"] %></h1>


<p>
<% if @current_user != nil %>
  <a href="/entries/new?place_id=<%= @place["id"] %>" class="btn btn-primary">New Entry</a>
<% end %>
</p>

<p>
  <a href="/places" class="btn btn-secondary mb-3">Back to All Places</a>
</p>


<% if @current_user != nil %>
  <div class ="row g-4">
  <% for entry in @entries %>
    <div class="col-12 col-md-6 col-lg-4">
      <h4><%= entry["title"] %></h4>
      <h5 class ="mb-3"><%= entry["occurred_on"] %></h5>
            <%# conditionally display attached file if post.uploaded_image.attached? %>
      <% if entry.uploaded_image.attached? %>
        <%# use url_for(post.uploaded_image) as attached file's url %>
        <img src="<%= url_for(entry.uploaded_image) %>" class="img-fluid mb-3" style="height: 300px; width: 100%; object-fit: cover;">
      <% else %>
        <%# otherwise display original image url from database column %>
        <img src="<%= entry["image"] %>" class="img-fluid mb-3">
      <% end %>
      <p><%= entry["description"] %></p>
    </div>
  <% end %>
  </div>
<% end %>

